* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  align-self: center;
  color: white;
  font-size: 45px;
}

main {
  display: flex;
}

.trybewarts-login {
  display: flex;
  align-self: center;
  margin-right: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);

  /* Optional */
  height: 100px;
}

.trybewarts-header-logo {
  margin-left: 15px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  min-width: 675px;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#label-family {
  display: flex;
  flex-direction: column;

  /* Optional */
  margin: 5px;
}

#label-content {
  display: flex;
  flex-direction: column;

  /* Optional */
  margin: 5px;
}

#personal-info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}

#input-name , #input-lastname , #input-email , #house {
  min-width: 40%;
  min-height: 30px;
  border-radius: 7px;
  margin: 1px;
}
